<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ecomb.provider.user.mapper.IUserMapper">

  <insert id="addUser">
    insert into tbl_user(user_id, user_name, password, nick_name, phone, status, create_time, gender, city)
     values (#{user_id}, #{user_name}, #{password}, #{nick_name}, #{phone}, #{status}, #{create_time}, #{gender}, #{city})
  </insert>

  <update id="updateUser" parameterType="cn.ecomb.provider.api.user.entity.User">
    update tbl_user set user_name = #{user_name}, password = #{password}, phone = #{phone}, status = #{status}
    <where>
      user_id = #{user_id}
    </where>
  </update>

  <update id="remove">
    update tbl_user set status = 0 where user_id in
    <foreach collection="ids" separator="," open="(" close=")" index="index" item="item">
      #{item}
    </foreach>
  </update>

  <select id="getUser" resultType="cn.ecomb.provider.api.user.entity.User">
    select * from tbl_user where user_id = #{userId}
  </select>

  <select id="listUserByUserIds" resultType="cn.ecomb.provider.api.user.entity.User">
    select * from tbl_user where user_id in
      <foreach collection="list" separator="," open="(" close=")" index="index" item="item">
        #{item}
      </foreach>
  </select>

  <select id="listUser" resultType="cn.ecomb.provider.api.user.dto.UserDto">
    select * from tbl_user where user_name = #{pageQuery.userName}
    limit #{pageQuery.pageSize} offset #{pageQuery.offset}
  </select>


</mapper>