<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ecomb.provider.order.mapper.IOrderMapper">

  <insert id="addOrder">
    insert into tbl_order(order_id, user_id, create_time, user_name, total_amount, pay_amount, freight_amount, pay_type,
      source_type, status, order_type, delivery_company, delivery_Id, confirm_status, delete_status, payment_time,
      delivery_time, receive_time, comment_time, modify_time)
    values (#{orderId}, #{userId}, #{createTime}, #{userName}, #{totalAmount}, #{payAmount}, #{freightAmount},
      #{payType}, #{sourceType}, #{status}, #{orderType}, #{deliveryCompany}, #{deliveryId}, #{confirmStatus},
      #{deleteStatus}, #{paymentTime}, #{deliveryTime}, #{receiveTime}, #{commentTime}, #{modifyTime})
  </insert>

  <update id="updateOrder" parameterType="cn.ecomb.provider.api.order.entity.Order">
    update tbl_order set total_amount = #{totalAmount}, pay_amount = #{payAmount}, freight_amount = #{freightAmount},
    pay_type = #{payType}, status = #{status}, delivery_company = #{deliveryCompany}, delivery_id = #{deliveryId},
    confirm_status = #{confirmStatus}, payment_time = #{paymentTime}, delivery_time = #{deliveryTime},
    receive_time = #{receiveTime}, comment_time = #{commentTime}, modify_time = #{modifyTime}
    where order_id = #{orderId}
  </update>

  <update id="updateStatus"  parameterType="cn.ecomb.provider.api.order.entity.Order">
    update tbl_order set status = #{status} where order_id = #{orderId}
  </update>

  <update id="remove">
    update tbl_order set delete_status = 1 where order_id in
    <foreach collection="ids" separator="," open="(" close=")" index="index" item="item">
      #{item}
    </foreach>
  </update>

  <select id="getOrder" resultType="cn.ecomb.provider.api.order.entity.Order">
    select * from tbl_order where order_id = #{orderId}
  </select>

  <select id="listOrderByOrderIds" resultType="cn.ecomb.provider.api.order.entity.Order">
    select * from tbl_order where order_id in
      <foreach collection="list" separator="," open="(" close=")" index="index" item="item">
        #{item}
      </foreach>
  </select>

  <select id="listOrder" resultType="cn.ecomb.provider.api.order.dto.OrderDto">
    select * from tbl_order where user_name = #{pageQuery.userName}
    limit #{pageQuery.pageSize} offset #{pageQuery.offset}
  </select>


</mapper>