<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ecomb.provider.order.mapper.IOrderItemMapper">

  <insert id="addOrderItem">
    insert into tbl_order_item(order_id, product_id, product_price, product_name, product_selling_price, product_quantity,
    product_sku_id, product_sku_code)
    values
    <foreach collection="list" separator="," open="(" close=")" index="index" item="item">
      #{item.orderId}, #{item.productId}, #{item.productPrice}, #{item.productName}, #{item.productSellingPrice}, #{item.productQuantity},
      #{item.productSkuId}, #{item.productSkuCode}
    </foreach>
  </insert>

  <update id="updateOrderItem" parameterType="cn.ecomb.provider.api.order.entity.OrderItem">
    update tbl_order_item set product_selling_price = #{productSellingPrice}, product_quantity = #{productQuantity},
    where id = #{id}
  </update>

  <update id="remove">
    update tbl_order_item set delete_status = 1 where id in
    <foreach collection="ids" separator="," open="(" close=")" index="index" item="item">
      #{item}
    </foreach>
  </update>

  <select id="getOrderItem" resultType="cn.ecomb.provider.api.order.entity.OrderItem">
    select * from tbl_order_item where id = #{id}
  </select>

  <select id="listOrderItemByOrderId" resultType="cn.ecomb.provider.api.order.entity.OrderItem">
    select * from tbl_order_item where order_id = #{orderId}
  </select>

</mapper>